<h3 class="clean-header-green">Change Password</h3>
<div>
    <form id="change-password-form" name="changePasswordForm">
        <label for="old-password">Old Password</label>
        <input type="password" required="required"
               class="form-control" id="old-password"
               ng-model="account.OldPassword">
        <div class="error-message"
             ng-show="account.OldPassword !== currentUser.password">
            Password must match the current one
        </div>
        <br>
        <label for="new-password">New Password</label>
        <input type="password" required="required"
               class="form-control" id="new-password"
               ng-model="account.NewPassword" pattern=".{6,100}"
               ng-model-options="{ updateOn: 'blur' }">
        <div class="error-message"
             ng-show="account.NewPassword.$invalid && !account.NewPassword.$pristine">
            Password length must be between 6 and 100 characters
        </div>
        <br>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" required="required"
               placeholder="Some Project => SP"
               class="form-control" id="confirm-password"
               ng-model="account.ConfirmPassword">
        <div class="error-message"
             ng-show="account.NewPassword !== account.ConfirmPassword">
            Passwords don't match
        </div>
        <br>
        <button class="btn btn-primary" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(account)">Change Password</button>
    </form>
</div>