<div ng-if="!isAuthenticated()" id="login-reg-home" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <h3 id="login-header" class="clean-header-green inner-header">Login</h3>
            <form name="loginUserForm">
                <label for="email">Email</label>
                <input type="email" required="required" class="form-control" id="email" ng-model="loginUser.email">
                <br>
                <label for="password">Password</label>
                <input type="password" required="required" pattern=".{6,100}" class="form-control" id="password" ng-model="loginUser.password">
                <br>
                <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
            </form>
        </div>

        <div class="col-md-4 col-md-offset-2">
            <h3 id="register-header" class="clean-header-green inner-header">Register</h3>
            <form name="registerUserForm">
                <label for="reg-email">Email</label>
                <input type="email" required="required" class="form-control" id="reg-email" ng-model="registerUser.email" ng-model-options="{ updateOn: 'blur' }">
                <br>
                <label for="reg-password">Password</label>
                <input type="password" required="required"
                       pattern=".{6,100}" class="form-control"
                       id="reg-password" ng-model="registerUser.password">
                <div class="error-message"
                     ng-show="registerUser.password.$invalid && !registerUser.password.$pristine">
                    Password length must be between 6 and 100 characters
                </div>
                <br>
                <label for="reg-confirmPassword">Confirm Password</label>
                <input type="password" required="required"
                       class="form-control" id="reg-confirmPassword"
                       ng-model="registerUser.confirmPassword">
                <div class="error-message"
                     ng-show="registerUser.password !== registerUser.confirmPassword">
                    Passwords don't match
                </div>
                <br>
                <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
            </form>
        </div>
    </div>
</div>

<div ng-if="isAuthenticated()" id="dashboard-home" ng-controller="DashboardCtrl">
    <h3 class="clean-header-green">Dashboard</h3>
    <div class="row">
        <div class="col-md-5 col-md-offset-1" id="affiliated-projects-container">
            <h3 class="clean-header-green inner-header">Affiliated Projects</h3>
            <a class="affiliated-projects btn btn-success nav-buttons"
               role="button" ng-bind="project.Name"
               ng-repeat="project in myProjects
               | startFrom: projectsPagination.page * projectsPagination.perPage
               | limitTo: projectsPagination.perPage" href="#/projects/{{project.Id}}"></a>
            <ul ng-if="projectsPagination.numPages > 1" class="pagination">
                <li><a href="" ng-click="projectsPagination.prevPage()">&laquo;</a></li>
                <li ng-repeat="n in [] | range: projectsPagination.numPages" ng-class="{active: n == projectsPagination.page}">
                    <a href="" ng-click="projectsPagination.toPageId(n)">{{n + 1}}</a>
                </li>
                <li><a href="" ng-click="projectsPagination.nextPage()">&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-5 col-md-offset-1" id="issues-table-container">
            <h3 class="clean-header-green inner-header">My Issues</h3>
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Project</th>
                        <th>DueDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="issue in myIssues | startFrom: issuesPagination.page * issuesPagination.perPage | limitTo: issuesPagination.perPage">
                        <td><a href="#/issues/{{issue.Id}}" ng-bind="issue.Title"></a></td>
                        <td ng-bind="issue.Description"></td>
                        <td><a href="#/projects/{{issue.Project.Id}}" ng-bind="issue.Project.Name"></a></td>
                        <td ng-bind="issue.DueDate | date"></td>
                    </tr>
                </tbody>
            </table>
            <ul ng-if="issuesPagination.numPages > 1" class="pagination">
                <li><a href="" ng-click="issuesPagination.prevPage()">&laquo;</a></li>
                <li ng-repeat="n in [] | range: issuesPagination.numPages" ng-class="{active: n == issuesPagination.page}">
                    <a href="" ng-click="issuesPagination.toPageId(n)">{{n + 1}}</a>
                </li>
                <li><a href="" ng-click="issuesPagination.nextPage()">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>