<div ng-if="!isAuthenticated()" id="login-reg-home" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <form name="loginUserForm">
                <label for="email">Email</label>
                <input type="email" required="required" class="form-control" id="email" ng-model="loginUser.email">
                <br>
                <label for="password">Password</label>
                <input type="password" required="required" class="form-control" id="password" ng-model="loginUser.password">
                <br>
                <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
            </form>
        </div>

        <div class="col-md-4 col-md-offset-2">
            <form name="registerUserForm">
                <label for="reg-email">Email</label>
                <input type="email" required="required" class="form-control" id="reg-email" ng-model="registerUser.email" ng-model-options="{ updateOn: 'blur' }">
                <br>
                <label for="reg-password">Password</label>
                <input type="password" required="required"
                       pattern=".{6,100}" class="form-control"
                       id="reg-password" ng-model="registerUser.password"
                       ng-model-options="{ updateOn: 'blur' }">
                <div class="error-message"
                     ng-show="registerUser.password.$invalid && !registerUser.password.$pristine">
                    Password length must be between 6 and 100 characters
                </div>
                <br>
                <label for="reg-confirmPassword">Confirm Password</label>
                <input type="password" required="required"
                       class="form-control" id="reg-confirmPassword"
                       ng-model="registerUser.confirmPassword"
                       >
                <div class="error-message"
                     ng-show="registerUser.password !== registerUser.confirmPassword">
                    Passwords don't match
                </div>
                <br>
                <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
            </form>
        </div>
    </div>
</div>

<div ng-if="isAuthenticated()" id="dashboard-home" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-md-4">
            <h1>Dashboard</h1>
            <h1>Affiliated Projects</h1>
        </div>
        <div class="col-md-4">
            <h2>My Issues</h2>
            <ul id="issues">
                <li ng-repeat="issue in myIssues">
                    <div>{{issue.Title}} -- {{issue.Project.Name}} -- {{issue.DueDate}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>