<header>
    <h1 ng-bind="currentcurrentIssue.Title"></h1>
</header>

<div class="issue-page col-md-5 col-md-offset-1">
    <div>
        <h3>Description</h3>
        <p ng-bind="currentIssue.Description"></p>
    </div>
    <div>
        <h3>Assignee</h3>
        <p ng-bind="currentIssue.Assignee.Username"></p>
    </div>
    <div>
        <h3>Author</h3>
        <p ng-bind="currentIssue.Author.Username"></p>
    </div>
    <div>
        <h3>Current Status</h3>
        <button id="current-status-btn" class="btn btn-success" ng-bind="currentIssue.Status.Name" disabled></button>
    </div>
    <div ng-if="currentIssue.Status.Name !== 'Closed'">
        <h3>Change Status</h3>
        <ul ng-if="isIssueAssignee(currentIssue)" id="change-status-ul">
            <li ng-repeat="status in currentIssue.AvailableStatuses">
                <button class="btn btn-primary change-status-btn" ng-click="changeStatus(status.Id)" ng-bind="status.Name"></button>
            </li>
        </ul>
    </div>
    <div ng-if="isProjectLeader(issueProject)">
        <button class="btn btn-success" ng-click="showEditProject()">Edit Issue</button>
    </div>
</div>
<div class="comments col-md-6">
    <div class="comment-holder" ng-repeat="comment in comments">
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{comment.Author.Username}}</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        {{comment.Text}}
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /container -->
    </div>

    <div class="add-comment">
        <div>
            <div class="col-md-10 col-md-offset-2">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <form>
                            <textarea ng-model="comment.text" placeholder="Say something about this issue." ></textarea>
                            <button type="submit" ng-click="addComment(comment)" class="btn btn-success green"><i class="fa fa-share"></i>Add Comment</button>
                        </form>
                    </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
            </div>

        </div>
    </div>
</div>