/* app css stylesheet */
@font-face {
  font-family: Audimat;
  src: url(fonts/AUdimat-Regular.otf);
}
body{
  margin-top: 51px;
}
#issues-table{
  margin: 0;
}
#login-header{
  line-height: 40px;
}
#register-header{
  line-height: 40px;
}
#change-password-form{
  display: block;
  position: relative;
  width:25%;
  left: 37%;
  text-align: center;
}
#login-reg-home{
  position: relative;
  top: 10px;
}
#admin-header{
  display: inline-block;
  position: relative;
  top: 7px;
}
#issues-table-container{
  text-align: center;
  position: relative;
  left: 3%;
}
#my-projects-container {
  text-align: center;
}
#all-projects-container{
  margin-left: 25%;
}
#admin-panel{
  position: absolute;
  right: 0;
}
#assigned-projects-container{
  text-align: center;
}
.inner-header{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.navbar-fixed-top{
  font-family: Audimat;
  margin: 0;
  border-bottom: 1px solid #5cb85c;

}
.clean-header-green{
  border-bottom: 0;
  font-family: Audimat;
  background-color: #5cb85c;
  color: #ffffff;
  position: relative;
  text-align: center;
}
.clean-header-dark-green{
  border-bottom: 0;
  font-family: Audimat;
  background-color: #006600;
  color: #ffffff;
  position: relative;
  text-align: center;
}
.col-md-offset-1{
  margin-left: 5.6%;
}
.project-form{
  display: block;
  position: relative;
  width:25%;
  left: 37%;
  text-align: center;
}
.navbar-nav{
  height: 50px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
form input.ng-invalid:not(.ng-pristine) {
  box-shadow: 0 0 13px rgba(255, 133, 0, 0.9);
}
.container{
  margin-left: 0;
}
.custom-buttons{
  display: block;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-family: Audimat;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
.error-message {
  padding: 12px;
  background-color: rgba(204, 28, 18, 0.3);
  font-weight: bold;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.user{
  display: inline-block;
}
.nav-buttons{
  margin: 10px 5px 0 5px;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
