<div class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Project</h4>
        </div>
        <div class="modal-body">
                <form class="project-form" name="projectEditForm">
                    <label for="name">Name</label>
                    <input type="text" required="required" class="form-control" id="name" ng-model="projectEdit.Name">
                    <br>
                    <label for="description">Description</label>
                    <input type="text" required="required" class="form-control" id="description" ng-model="projectEdit.Description">
                    <br>
                    <label for="leadId" ng-if="isAdmin() === true">LeadId</label>
                    <select ng-if="isAdmin()" ng-model="projectEdit.Lead.Id" id="leadId" class="form-control">
                    </select>
                    <br ng-if="isAdmin()">
                    <label for="project-key">ProjectKey</label>
                    <input type="text" required="required"  placeholder="Some projectEdit => SP" class="form-control" id="project-key" ng-model="projectEdit.ProjectKey">
                    <br>
                    <label for="priorities">Priorities (separated by comma)</label>
                    <input type="text" required="required" class="form-control" placeholder="priority1, priority2, ..." id="priorities" ng-model="projectEdit.Priorities">
                    <br>
                    <label for="labels">Labels (separated by comma)</label>
                    <input type="text" required="required" class="form-control" placeholder="label1, label2, ..." id="labels" ng-model="projectEdit.Labels">
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-disabled="projectEditForm.$invalid" ng-click="updateProject(projectEdit)" class="btn btn-success" data-dismiss="modal">Edit project</button>
            </div>
        </div>
    </div>
</div>