<h3 class="clean-header-green">All Projects</h3>
<div class="row">
    <div class="col-md-6" id="all-projects-container" >
        <a class="custom-buttons btn btn-success nav-buttons"
           role="button" ng-bind="project.Name"
           ng-repeat="project in vm.allProjects
               | startFrom: vm.projectsPagination.page * vm.projectsPagination.perPage
               | limitTo: vm.projectsPagination.perPage" href="#/projects/{{project.Id}}"></a>
        <ul ng-if="vm.projectsPagination.numPages > 1" class="pagination">
            <li><a href="" ng-click="vm.projectsPagination.prevPage()">&laquo;</a></li>
            <li ng-repeat="n in [] | range: vm.projectsPagination.numPages" ng-class="{active: n == vm.projectsPagination.page}">
                <a href="" ng-click="vm.projectsPagination.toPageId(n)">{{n + 1}}</a>
            </li>
            <li><a href="" ng-click="vm.projectsPagination.nextPage()">&raquo;</a></li>
        </ul>
    </div>
</div>